/*
    Name: Jairo Jurado
*/


/* -------------------- Backgrounds & Universal -------------------- */

body {
	background: #1f1f1f; /* Old browsers */
	background: -moz-linear-gradient(top,  #1f1f1f 0%, #1f1f1f 37%, #46295d 59%, #532e68 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f1f1f), color-stop(37%,#1f1f1f), color-stop(59%,#46295d), color-stop(100%,#532e68)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1f1f1f 0%,#1f1f1f 37%,#46295d 59%,#532e68 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1f1f1f 0%,#1f1f1f 37%,#46295d 59%,#532e68 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1f1f1f 0%,#1f1f1f 37%,#46295d 59%,#532e68 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1f1f1f 0%,#1f1f1f 37%,#46295d 59%,#532e68 100%); /* W3C */
	font-family: 'Lato', sans-serif;
}

.container {
	background-color: #fff;
	max-width: 996px;
	color: #000;
	overflow: hidden;
}

a {
	color: #65a8ff;
}

.sub-titles {
	font-family: 'Simonetta', cursive;
	font-size: 1.6729166833959999em; /* 20pt */
	margin-left: 2%;
}

.breadcrumbs {
	margin-left: 2%;
}

.breadcrumbs a {
	margin: 0 1%;
}

img {
	margin-bottom: 2%;
	margin-right: 2%;
}

input.search {
	height: 35px;
	margin-top: 9%;
	border: 2px solid #66568d;
	background: #e2e0e0;
	padding: 1%;
	width: 72%;
	clear: right;
}

input.submit {
	background: url('../images/search/search-icon.png') no-repeat;
	text-indent: -99999px;
	width: 35px;
	height: 35px;
	margin-left: -15%;
	border: 0;
}


/* -------------------- Home Page Articles & Page Titles -------------------- */

.home-articles {
	margin-left: 4%;
	border-bottom: 1px solid black;
}

.page-title {
	margin: 1% 4%;
	clear: left;
	font-family: 'Niconne', cursive;
	font-size: 3.3458333667919997em; /* 40pt */
}

.news-titles {
	margin: 3% 0 1% 0;
	font-family: 'Simonetta', cursive;
	font-size: 1.6729166833959999em; /* 20pt */
}

.home-dates {
	margin: 1% 4%;
	font-family: 'Lato', sans-serif;
	font-size: 0.8364583416979999em; /* 10pt */
}

.h-article-paragraphs {
	font-family: 'Lato', sans-serif;
	font-size: 1.1710416783772em; /* 14pt */
}

.home-content {
	margin: 0 0 2% 4%;
}

.horizontal-rectangles {
	margin-left: -5%;
	margin-right: 2%;
}

.vertical-rectangles {
	margin-right: 1%;
}


/* -------------------- Navigation & Home Page Pagination -------------------- */

#pages ul, nav ul {
	list-style-type: none;
}

#pages li, nav li {
	float: left;
	margin: 1%;
}

#pages ul a, nav ul a {
	text-decoration: none;
	padding: 5px;
}

#pages ul a {
	background: #fff;
	padding: 5px;
}

#pages {
	text-align: center;
}

#pages a.active {
	background: #66568d;
	color: #fff;
	padding: 5px;
}

.main-nav {
	width: 996px;
}

.main-nav ul li a {
	height: 228px;
	text-indent: -99999px;
	display: block;
	padding: 0;
}

.main-nav ul {
	margin: 0;
	padding: 0;
}

.main-nav ul li {
	margin: 0;
	padding: 0;
	float: left;
}

.main-nav h1 {
	margin: 0;
}


/* --------------- Main Navigation --------------- */

.nav-home {
	background: url('../images/nav/nav-regular/nav-regular-home.png') no-repeat;
	width: 161px;
}

.nav-games {
	background: url('../images/nav/nav-regular/nav-regular-games.png') no-repeat;
	width: 162px;
}

.nav-music {
	background: url('../images/nav/nav-regular/nav-regular-music.png') no-repeat;
	width: 175px;
}

.nav-videos {
	background: url('../images/nav/nav-regular/nav-regular-videos.png') no-repeat;
	width: 176px;
}

.nav-gallery {
	background: url('../images/nav/nav-regular/nav-regular-gallery.png') no-repeat;
	width: 161px;
}

.nav-forums {
	background: url('../images/nav/nav-regular/nav-regular-forums.png') no-repeat;
	width: 161px;
}


/* --------------- Main Navigation Active States --------------- */

.nav-home.active {
	background: url('../images/nav/nav-active/nav-active-home.png') no-repeat;
	width: 161px;
}

.nav-games.active {
	background: url('../images/nav/nav-active/nav-active-games.png') no-repeat;
	width: 162px;
}

.nav-music.active {
	background: url('../images/nav/nav-active/nav-active-music.png') no-repeat;
	width: 175px;
}

.nav-videos.active {
	background: url('../images/nav/nav-active/nav-active-videos.png') no-repeat;
	width: 176px;
}

.nav-gallery.active {
	background: url('../images/nav/nav-active/nav-active-gallery.png') no-repeat;
	width: 161px;
}

.nav-forums.active {
	background: url('../images/nav/nav-active/nav-active-forums.png') no-repeat;
	width: 161px;
}


/* --------------- Main Navigation Hover States --------------- */

.nav-home:hover {
	background: url('../images/nav/nav-hover/nav-hover-home.png') no-repeat;
	width: 161px;
}

.nav-games:hover {
	background: url('../images/nav/nav-hover/nav-hover-games.png') no-repeat;
	width: 162px;
}

.nav-music:hover {
	background: url('../images/nav/nav-hover/nav-hover-music.png') no-repeat;
	width: 175px;
}

.nav-videos:hover {
	background: url('../images/nav/nav-hover/nav-hover-videos.png') no-repeat;
	width: 176px;
}

.nav-gallery:hover {
	background: url('../images/nav/nav-hover/nav-hover-gallery.png') no-repeat;
	width: 161px;
}

.nav-forums:hover {
	background: url('../images/nav/nav-hover/nav-hover-forums.png') no-repeat;
	width: 161px;
}


/* -------------------- Gallery Page Content -------------------- */

.gallery-titles {
	font-family: 'Simonetta', cursive;
	font-size: 1.2546875125469998em; /* 15pt */
}

.gallery-list {
	list-style-type: none;
	display: inline;
	text-align: center;
}

.gallery-icons {
	margin-left: 2%;
}

.gallery-blocks {
	margin-left: 4%;
}


/* -------------------- Music Page Content -------------------- */

.album {
	margin-left: 4%;
	float: left;
}

.album ul {
	list-style-type: none;
}

.album h3 {
	margin: 4% 0;
	font-family: 'Simonetta', cursive;
	font-size: 1.2546875125469998em; /* 15pt */
}

.album p {
	font-size: 1.0873958442073999em; /* 14pt */
}

.tracks {
	float: right;
	margin-right: 5%;
}


/* -------------------- Games Page Content -------------------- */

.cover {
	margin-left: 3%;
	float: left;
}

.cover ul {
	list-style-type: none;
	margin-left: 1%;
	padding: 3%;
}

#games-content h3 {
	font-family: 'Simonetta', cursive;
	font-size: 1.2546875125469998em; /* 15pt */
}

#games-content h4 {
	font-family: 'Simonetta', cursive;
	font-size: 1.0873958442073999em; /* 13pt */
	clear: both;
	margin: 4% 0;
}


/* -------------------- Videos Page Content -------------------- */

.video-content {
	margin: 0 4%;
}

.video-content h3 {
	font-family: 'Simonetta', cursive;
	font-size: 1.3383333467168em; /* 16pt */
}

.video-content p {
	font-size: 1.0873958442073999em; /* 13pt */
}

iframe {
	width: 94%;
	height: 480px;
}


/* -------------------- Forums Page Content -------------------- */

#first_time {
	margin-left: 0;
	margin-top: 3%;
	clear: left;
}

.forums {
	clear: left;
}

.forums_categories p {
	float: left;
}

.forums_categories .user {
	margin-top: 1%;
	font-size: 0.5855208391886em;
}

.forums, #latest_topics {
	border: 1px solid #66568d;
	padding: 1%;
	margin-left: 3%;
	margin-bottom: 2%;
}

.grid_8 p {
	margin-right: 3%;
}

.forums h2, #latest_topics h2 {
	font-family: 'Simonetta', cursive;
	font-size: 1.5056250150564em; /* 15pt */
	background: #66568d;
	color: #fff;
	padding: 2%;
	margin: 0;
	font-weight: normal;
}

header p{
	clear: both;
}

input.login {
	margin: 5% 0 2% 0;
	clear: right;
	border: 2px solid #66568d;
	background: #e2e0e0;
	padding: 3%;
}

input.login-button {

}

#login {
	float: right;
}

.user {

}


/* -------------------- Footers -------------------- */

footer {
	text-align: center;
	font-size: 0.9201041758677999em; /* 11pt */
	clear: both;
	margin: 3% 0;
	overflow: hidden;
}

